

.row{
    width:250px;
    height:84px;
    
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-around;
}

.square{
    margin: 5px;
    padding:25px;
    border:2px solid black;
    cursor: pointer;
}